# Local development files
*.cache
/build/
/cache/
/dist/
/logs/
/temp/
/browser/assets
@playground*

# Composer
/vendor/
composer.lock
/pathagist.json
captainhook.config.json
cghooks.lock

# Docker
docker-compose.override.yml
/docker/@local/

# Env
*.env
.env.*
!.env.example

# Editor/ IDE
*.code-workspace
.vscode
.idea
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
