# Dev and CI builds
/build/

# PHPUnit
.phpunit.result.cache

# Composer
/vendor/
composer.lock

# Environment variables\
.env
.env.*
.*.env

# Editor/ IDE
.idea/
.project/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
